<nav>
  <ul class="pagination">
    <li class="page-item">
      <button
        class="page-link href"
        (click)="onPrevious()"
        [disabled]="current === 1"
      >
        Previous
      </button>
    </li>
    <li
      *ngFor="let page of pages"
      class="page-item"
      [ngClass]="{ active: page == current }"
    >
      <a class="page-link href" (click)="onGoTo(page)">{{
        page == -1 ? '...' : page
      }}</a>
    </li>
    <li class="page-item">
      <button
        class="page-link href"
        (click)="onNext()"
        [disabled]="current === total"
      >
        Next
      </button>
    </li>
  </ul>
</nav>
